.App {
    text-align: center;
}

.tracker {
    width: 50%;
    height: 20px;
    margin: 15px auto;
    background: yellow;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #000;
}

.container {
    width: 50%;
    text-align: center;
    height: 100vh;
}

.show-error {
    color: red;
    position: absolute;
    font-size: 10px;
    /* left: 12px; */
    top: 51px;
}

.hide-error {
    display: none;
}

.submit-btn {
    margin-top: 10px;
    margin-left: 28px;
}

.progress-tracker {
    margin-bottom: 10px;
    margin-top: 40px;
}

.donation-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #dcddde;
    padding: 18px;
    margin: 9px 0;
}

.db-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    position: relative;
}

.db-form input {
    /* width:31%; */
    margin-right: 55px;
}

p {
    font-size: 13px;
}